header{
    height: 400px;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 90px;

        img{
            height: 60px;
            cursor: pointer;
        }

        ul{
            display: flex;
            list-style: none;

            li{
                padding: 0 15px;
                height: 90px;
                line-height: 90px;
                font-weight: bold;
                cursor: pointer;

                &:hover{
                    color: #0282F9;
                    border-bottom: 4px solid #0282F9;
                }
            }
        }
    }
    .jumbotron{
        height: 400px;
        background-image: url("../assets/img/jumbotron.jpg");
        background-size: cover;
    }

    .series{
        background-color: #0376F2;
        border: none;
        padding: 10px 30px;
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        position: relative;
        top: 380px;
        left: 250px;
        cursor: pointer;
    }
}